.menu-screen{}

.menu-screen h1{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.menu-screen ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-screen ul h2{
    padding: 0;
    margin: 0;
}