.app {

}

.connect-controller{
  padding: 0.5em;
  font-size: 1em;
  margin-bottom: 1em;
}

.error{
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.error.visible{
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 8px;
  margin-bottom: 1em;
}

.error.hidden {
  opacity: 0;
}

.screen{
  width: 600px;
  padding: 0.3em;
  font-size: 1.3em;
  background-color: #2D9CF5;
}
